@import "utility";
@import "vars";

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 0;
  max-width: unset;

  color: $text;
  text-decoration: none;
}

body {
  background-color: $bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  appearance: none;
  cursor: pointer;
}

.dummy {
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 100;
}

.material-symbols-rounded {
  user-select: none;
}

@import "components/scene";
@import "components/scores";
@import "components/note-board";
@import "components/key-identifier";
@import "components/layout";
@import "components/clickable";
@import "components/home";
@import "components/rhythm-board";
@import "components/rhythm-identifier";
