.home {
  @include col;
  align-items: center;
  justify-content: center;
  gap: $m-xlg;

  .headline {
    @include col;
    justify-content: center;
    text-align: center;
    gap: $m-md;

    h1 {
      font-size: larger;
      font-weight: bold;
    }

    h2 {
      font-size: medium;
      color: $text-2;
    }
  }

  .grid {
    @include row;
    justify-content: center;
    margin: auto;
    gap: 2rem;

    .module {
      @include col;
      gap: $m-sm;
      justify-content: center;
      text-align: center;

      .logo {
        height: auto;
        aspect-ratio: 1/1;
        background-color: #3d3b3b;
        border-radius: 4px;
        @include trans;
        box-shadow: 0px 4px 12px #00000088;
        transition-property: transform box-shadow;
      }

      .text {
        font-weight: 400;
        font-size: medium;
      }

      &:hover {
        .logo {
          transform: translateY(-8px);
          box-shadow: 0px 12px 16px #00000077;
        }
      }
    }
  }
}
