@import "../utility";
@import "../vars";

.key-identifier {
  @include col;
  align-items: center;
  gap: 6rem;
  padding: $p-lg;

  .scene {
    min-width: 12rem;
    height: 12rem;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
