@import "../utility";
@import "../vars";

.rhythm-identifier {
  @include col;
  align-items: center;
  gap: 4rem;
  padding: $p-lg;

  .play-audio {
    appearance: none;

    @include flex;
    justify-content: center;
    align-items: center;

    background-color: #74c5c0;
    border: solid 0.2rem #56a09c;
    box-shadow: 0px 8px 0px #458d89;
    @include circle;
    cursor: pointer;
    @include trans;
    transition-property: transform box-shadow;

    .icon {
      color: #283041;
      font-size: 5rem;
    }

    &:active {
      transition-duration: 0s;
      transform: translateY(6px);
      box-shadow: 0px 2px 0px #458d89;
    }
  }

  .scene {
    @include row;
    flex-wrap: nowrap;
    width: auto;
    min-width: 10rem;
    height: 10rem;
    align-items: center;
    justify-content: center;

    .rhythm {
      padding: $p-sm;
      border-radius: 4px;
      background-color: transparent;
      @include transl;
      transition-property: background-color;
      user-select: none;

      img {
        height: 6rem;
        width: auto;
      }

      &:hover {
        @include trans(0.1s);
        background-color: transparentize($color: #000000, $amount: 0.9);
      }
    }
  }
}
