@import "../utility";
@import "../vars";

$scene-bg: #faecd3;
$scene-border: #d2c4aa;

.scene {
  background-color: $scene-bg;
  box-shadow: 0px 6px 0px 0px $scene-border;
  border-radius: 6px;
  border: 2px solid $scene-border;
  padding: $p-md;
  color: $note-color;
  //
  width: 10rem;
  height: 10rem;

  @include flex;
}
